<h1>BIBLIA APPLICATION</h1>

<p>Dear Mr/Ms.<%= @user.name %>,</p>

<p>Thank you for signing up our website. Please click on the link below to activate your account:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

