<% provide(:title, @title) %>
<div class="row">
  <%= render "shared/users_info" %>
  <div class="col-md-12"></div>
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>
